<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'posts:category' 'secret' %}">비밀게시판</a>
    <a href="{% url 'posts:category' 'freshman' %}">새내기게시판</a>
    <a href="{% url 'posts:category' 'free' %}">자유게시판</a>
    <br><br>

    {% if user.is_authenticated %}
        nickname : {{ user.nickname }}<br><br>
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
        <a href="{% url 'accounts:logout' %}">로그아웃</a><hr><br>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a> |
        <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}

    {% for post in posts %}
        <h3>
            {% if post.category.exists %}
                <a href="{% url 'posts:category' post.category.first.slug %}">
                    {{ post.category.first.name }}
                </a>
            {% else %}
                <p>카테고리가 없습니다.</p>
            {% endif %}
        </h3>
        
        <a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a><br><br>
    {% empty %}
        <p>글이 없습니다.</p>
    {% endfor %}
</body>
</html>