<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% if user.is_authenticated %}
    nickname : {{ user.nickname }}<br><br>
    <a href="{% url 'accounts:mypage' %}">마이페이지</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a><hr><br>

    <!-- 게시글 작성-->
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="제목 입력"><br>
        <textarea name="content" placeholder="본문 입력" rows="2" cols="20"></textarea><br><br>
        <input type="checkbox" name="is_anonymous"> 익명
        <button type="submit">작성 완료</button>
    </form>
{% else %}
    <a href="{% url 'accounts:login' %}">로그인</a> |
    <a href="{% url 'accounts:signup' %}">회원가입</a>
{% endif %}

<hr>
<!-- 게시글-->
{% for post in posts %}
<h3><a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a></h3>
    {{ post.content }}
    <br><br>
    {{ post.created_at }}
    <hr>
{% empty %}
    아직 작성된 글이 없습니다.
{% endfor %}
</body>
</html>